<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>{{ post.title }} - Blog</title>
</head>
<body>

<nav>
        <a href="/blog/">Blog</a>   <!--관리자 페이지의 Post내용을 가져온 블로그 끌어오기--> 
</nav>

<h1>{{ post.title }}</h1>           <!--제목--> 
<h4>{{ post.created_at }}</h4>      <!--생성 시간--> 
<p>{{ post.content }}</p>           <!--포스트의 내용--> 
<hr/>                               <!--줄 하나 긋기--> 
<h3>여기 댓글이 들어올 수 있다</h3>   <!--글 쓰기--> 
</body>
</html>